In [1]:
bucket = []
for num in range(1,10):
    if num % 2 == 0:
        bucket.append(num**2)
    else:
        bucket.append(num**3)
bucket

[1, 4, 27, 16, 125, 36, 343, 64, 729]

# List Comprehension

In [3]:
bucket = [num for num in range(1,10)]
bucket

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
bucket = [num**2 if num % 2 == 0 else num**3 for num in range(1,10)]
bucket

[1, 4, 27, 16, 125, 36, 343, 64, 729]

In [5]:
# only if
bucket = [num for num in range(1,10) if num%2 == 0]
bucket

[2, 4, 6, 8]

In [7]:
bucket = tuple(num**2 if num % 2 == 0 else num**3 for num in range(1,10))
bucket

(1, 4, 27, 16, 125, 36, 343, 64, 729)

In [8]:
bucket = {num**2 if num % 2 == 0 else num**3 for num in range(1,10)}
bucket

{1, 4, 16, 27, 36, 64, 125, 343, 729}

In [9]:
bucket = {num:num**2 if num % 2 == 0 else num**3 for num in range(1,10)}
bucket

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729}

## nested list comprehension

In [11]:
data = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
    ]

In [14]:
bucket=[]
for a in data:
    tb = []
    for i in a:
        if i % 2 == 0:
            tb.append(i**2)
        else:
            tb.append(i**3)
    bucket.append(tb)
bucket

[[1, 4, 27], [16, 125, 36], [343, 64, 729]]

In [15]:
data = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
    ]

In [16]:
bucket = [[i**2 if i%2 == 0 else i**3 for i in a] for a in data]
bucket

[[1, 4, 27], [16, 125, 36], [343, 64, 729]]