# While Loop

In [ ]:
# while loop is condition based loop
start,stop = 1,5
while start <= stop:
    print(start)
    start += 1

In [ ]:
start,stop = 1,5
while start <= stop:
    start += 1
    print(start)
    #start += 1

In [ ]:
start,stop = 5,1
while start >= stop:
    print(start*2)
    start -= 1

In [ ]:
start,stop = 5,1
while start >= stop:
    start -= 1
    print(start)
    #start -= 1

# For Loop

In [ ]:
type(range(1,5))

In [ ]:
list(range(1,5))

In [ ]:
list(range(1,6))

In [ ]:
for num in range(1,6):
    print(num*2)

In [ ]:
s = "Python"
for ch in s:
    print(ch)

In [ ]:
for num in [1,4,6,34,42,12,36]:
    print(num)

In [ ]:
for num in (1,4,6,34,42,12,36):
    print(num)

In [ ]:
for num in {1,4,6,34,42,12,36}:
    print(num)

In [ ]:
std = {'name': 'Ashraf','roll': 12,'dept':'CSE'}
for a in std:
    print(a)

In [ ]:
std = {'name': 'Ashraf','roll': 12,'dept':'CSE'}
for a in std.values():
    print(a)

In [ ]:
std = {'name': 'Ashraf','roll': 12,'dept':'CSE'}
for a in std.keys():
    print(a)

In [ ]:
std = {'name': 'Nayan','roll': 12,'dept':'CSE'}
for a in std.items():
    print(a)

In [ ]:
std = {'name': 'Nayan','roll': 12,'dept':'CSE'}
for a,b in std.items():                     # multiple assignment in loop
    print(a,":",b)

In [ ]:
for n1,n2,n3 in [(1,2,3),(4,5,6),(7,8,9)]:
    print(n1+n2+n3)

In [ ]:
for row in [(1,2,3,6),(4,5,6),(7,8,9)]:
    for col in row:
        print(col, end = " ")
    print('\n')
    #print()
    #print("---")

In [ ]:
for num in [(1,2,3),(4,5,6,8),45,(56,78),57,56]:
    if type(num) == tuple:
        for n in num:
            print(n)
    else:
        print(num)

# break

In [2]:
for num in (1,2,3,4,526,62,47):
    if num == 526:
        print("Found data!")
    print("Searching")
print("Done")

Searching
Searching
Searching
Searching
Found data!
Searching
Searching
Searching
Done

In [1]:
for num in (1,2,3,4,526,62,47):
    if num == 526:
        print("Found data!")
        break
    print("Searching")
print("Done")

Searching
Searching
Searching
Searching
Found data!
Done

In [5]:
for num in (1,2,3,4,526,62,47):
    if num == 526:
        print("Found data!")
        break
    print(num*2)
print("Done")

2
4
6
8
Found data!
Done

In [4]:
for num in (1,2,3,4,526,62,47):
    if num == 526:
        print("Found data!")
        continue
    print(num*2)
print("Done")

2
4
6
8
Found data!
124
94
Done